<nav class="navbar">
  <div class="container">
      <a class="navbar-logo img" href="/">
          <img src="assets/img/logo2.png" alt="Logo">
      </a>
      <ul class="nav-links">
          <li><a href="https://codebeautify.org/jsonviewer" title="JSON Beautifier">JSON BEAUTIFIER</a></li>
          <li><a routerLink="/jsonparser" title="JSON Parser">JSON PARSER</a></li>
          <li><a routerLink="/xmlformatter" title="XML Formatter">XMLFORMATTER</a></li>
          <li><a routerLink="/jsbeautifier" title="JSBeautifier">JSBEAUTIFIER</a></li>
          <li><a routerLink="/login" title="Login">LOGIN</a></li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>